
.Unlike{
    color: red;
}
.Like{
    color: black;
}
.comments{
    margin-top: 10px;
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
}
.like-headers{
    display: flex;
    padding: 5px 15px;
    flex-direction: row;
    font-size: 20px;
}
.like-button{
    cursor: pointer;
}
.likeIcon{
    font-size: 20px;
}
.liketext{
    margin-left: 10px;
}
.comments-row{
    padding-top: 5px;
}
.loadmoretext{
    margin-bottom: 5px;
}
.comment .col{
    display: flex;
}
.commentor-user-image{
    width: 40px;
    height: 40px;
    border-radius: 25px;
}
.comment-content{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.commentor-name{
    margin: 5px 0px;
    color: #365899;
    font-weight: bold;
    text-decoration: none;
    font-size: medium;
}
.comments .row{
    margin-bottom: 0px;
}
.comment{
    padding: 5px 0px;
    border-bottom: 1px solid #e4e4e4;
}

.user-comment{
    border-bottom: none;
}
.user-comment .comment-content{
    width: 100%;
}
.user-comment #comment-now{
    width: 100%;
    box-shadow: none;
    border-color: #5f5f61;
    min-height: 32px;
    padding-bottom: 7px;
    padding-top: 7px;
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
    line-height: 16px;
    padding-left: 5px;
    border: 1px solid #5f5f61;
}
.blogshare-select input{
    padding-bottom: 0px !important;
}

.toDetails{
    font-size: 100%;
    font-style: italic;
    font-family: cursive;
}

.switch label input[type=checkbox]:checked + .lever:after {
    left: 15px;
}

.rejectbutton {
    float: right;
    padding: 0px 10px;
}
.approvebutton {
    padding: 0px 10px;
}
.rejectCol {
    float: right !important;
}
.row.approvebuttonrow {
    padding: 0px 15px;
}

.status{
    float: right;
    font-weight: 700;
    font-family: cursive;
}
.statusText.N,.statusText.WAITING {
    color: orange;
}
.statusText.Y,.statusText.APPROVED{
    color: green;
}
.Y,.APPROVED{
    display: none;
}
.statusText.REJECTED {
    color: red;
}
.switch label .lever {
    content: "";
    display: inline-block;
    position: relative;
    width: 25px;
    height: 10px;
    background-color: #818181;
    border-radius: 15px;
    margin-right: 10px;
    transition: background 0.3s ease;
    vertical-align: middle;
    margin: 0 10px;
}
.switch label{
    color: black;
    font-family: inherit;
    font-weight: 400;
}
.switch label .lever:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #F1F1F1;
    border-radius: 21px;
    box-shadow: 4 1px 3px 1px rgba(0, 0, 0, 0.4);
    left: -5px;
    top: -3px;
    transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease;
}
.switch-row .switch{
    float: right;
}
.blogTitleSpan{
    color: #000;
    font-family: Roboto ,SANS-SERIF;
    font-size: x-large;
    font-weight: 500;
}
.blog-row .card{
    padding: 20px;
    margin: 5px 0px 0px 0px;
    cursor: pointer;
    border-radius: 10px;
}
.blog-row .title-row{
    margin-bottom: 0px !important;
}
.blogcontent{
    margin-bottom: 0px;
}
.BlogContentSpan{
    height: 60px;
    display: block;
      /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative; 
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em; 
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;  
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
  margin-top: 25px;
}
.blog-row{
    margin-bottom: 0px;
}
.blog-title{
    display: flex;
    flex-direction:column;
}
.blog-title .status{
    margin-left: auto;
}
.blog-title .time{
    margin-left: auto;
    color: #757575;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 100%;
}
.blog-name .time{
    margin-left: auto;
    color: #757575;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 100%;
}
.blog-name .status{
    margin-left: auto;
}
.blog-name{
    display: flex;
    flex-direction:column;
}

/* styles for '...' */ 
.block-with-text {

}
/* create the ... */
.BlogContentSpan:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.BlogContentSpan:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

.blogName{
    color: #000;
    font-family: Roboto ,SANS-SERIF;
    font-size: x-large;
    font-weight: 500;
    display: block;
}
.ViewBlog {
    padding: 15px;
    background-color: white;
}
ViewBlog .blog-name{
    padding: 0px 15px;
}
.view-blog-content{
    padding: 15px;
}
.view-blog-header{
    padding: 0px 15px;
    margin-bottom: 0px;
}
.ViewBlog .note-editable {
    height: auto;
}
.note-editor.note-frame .note-editing-area .note-editable[contenteditable="false"] {
    background-color: rgba(229, 229, 229, 0.28);
}
.fromname{
    margin-bottom: 0px !important;
}


.autocomplete {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.ac-users{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.chip{
    margin-top: 5px;
    margin-right: 10px;
    display: flex;
}
.ac-input{
    width: 100%;
}
.ac-dropdown{
    opacity: 1;
    display: block;
    position: absolute;
    top: 45px;
    left: 0px;
    width: 100%;
}
.ac-dropdown li > a {
    color: black;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.usertype-select input {
    padding-bottom: 5px !important;
}
#AutoSuggestDropDown{
    max-height: 350px;
}
.share-list{
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    border-bottom: 1px solid #9e9e9e;
}
.CreateBlog input {
    margin-bottom: 0px;
}
#shareList{
   border-bottom: none;
   box-shadow: none;
}
.CreateBlog .select-wrapper input.select-dropdown {
    margin-bottom: 0px;
    padding-bottom: 5px;
}

.note-editor.note-frame .note-editing-area .note-editable {
    height: 100%;
}
.note-editor.note-frame .note-editing-area {
    height: 100%;
}
.note-placeholder {
    color: #d1d1d1;
}
.note-editor.note-frame{
    border : 0px;
    height: 100%;
}
.note-statusbar{
    display: none;
}
.note-toolbar {
    display: flex;
    flex-direction: row;
}
.note-btn-group .btn {
    background-color: transparent;
    box-shadow: none;
    padding-right: 5px;
    padding-left: 5px;
}
.note-btn-group .btn i {
    color: #929090;
    font-size: 14.5px;
}

.note-btn-group .btn span {
    color: #929090;
    font-size: 14.5px;
}
.note-alignment {
    display: flex;
    flex-direction: row;
}
.note-btn-group .btn.active {
    background-color: #f3f2f2; 
}
.note-btn-group{
    margin-top: 0px  !important;
    margin-bottom: 0px !important;
}
.note-toolbar{
    padding: 0px ;
}
.note-edit, .note-style , .note-alignment {
    margin-right: 5px ;
    margin-left: 20px ;
    padding: 0px 10px;
    border-left: #c1c0c0 solid 1px;
}
.note-style ,.note-alignment{
    margin-left: 0px !important;
}
.note-editable {
    height: 100vh;
}

.note-toolbar button i:hover {
    color: black;
}


    
/*

.blogshare-select {
    position: relative;
    top: -16px;
    margin-top: 
}
*/


.CreateBlog {
    background-color: white;
    padding: 15px;
    /*height: calc(100vh - 150px);*/
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}
.create-blog-footer {
    margin-top: auto;
    margin-bottom: 0px;
}

.create-blog-content{
    overflow-y: overlay;
    display: flex;
    flex: 1 1 auto;
}

#blogcontent{
    color: #000;
    font-family: sans-serif;
    line-height: 1.5;
    outline: none;
    word-wrap: break-word;
    border-bottom: none;
    box-shadow: none;
    min-height: 100vh;
}
.create-blog-header,.blog-name,.share-with{
    margin-bottom: 0px;
}
#blog-name{
    color: #000;
    font-family: Roboto ,SANS-SERIF;
    font-size: x-large;
    font-weight: 500;
}
.share-list{
    display: flex;
}
.blog-content-text-area{
    overflow-y: hidden;
}
.blogaddmorebutton{
    font-size: 30px;
    cursor: pointer;
}
.deleteblog {
    border-left: #c1c0c0 solid 1px;
    padding-left: 10px;
}
.deleteimage{
    margin-left: auto;
}
.BlogFooterButtons{
    display: flex;
    flex-direction: row;
}
.submitbutton{
    padding: 0px 8px;
    background-color: #4285f4;
}
.submitbutton:hover {
    background-color: #0865ff;
}
.deleteblog:hover {
    color: #ff1100 !important;
}
.BlogFooterButtons span i{
    font-size: 25px;
    cursor: pointer;
}

.attachmentimage i,.boldimage i,.underlineimage i,.italicimage i{
    color: #929090;
}
.attachmentimage i:hover,.boldimage i:hover,.underlineimage i:hover,.italicimage i:hover{
    color: black;
}
.attachmentimage {
    margin-left: 13px;
    padding-right: 10px;
    border-right: #c1c0c0 solid 1px;
}
.boldimage{
    margin-right: 5px;
    margin-left: 10px;
}
.italicimage{
    margin-left: 5px;
    margin-right: 5px;
}
.underlineimage{
    margin-left: 5px;
    padding-right: 10px;
    border-right: #c1c0c0 solid 1px;
}

.container .Blog .row {
    margin:0px;
}
.blog-main{
    margin-bottom: 15px;
}
.blogtype-select input{
    text-align: center;
    background-color: white !important;
    border-radius: 10px;
    font-weight: 500;
    font-size: 120%;
}
.contentDiv{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.blog-type-div{
    padding-left: 0px !important;
}


@media only screen and (max-width: 600px){
    .BlogFooterButtons{
        display: flex;
    }
    .BlogFooterButtons .note-toolbar{
        display: flex;
        display: none;
        padding: 10px 0px 0px 0px;
    }
    .BlogFooterButtons .note-toolbar .note-edit{
        margin-left: 0px;
    }
    .BlogFooterButtons .deleteimage{
        margin-left: auto;
    }
    #main{
        padding-bottom: 0px;
    }
 
}


    